/* 基础 */
.c-block{
    display: block;
    font-size: 0;
}
.c-main-container{
    font-size: 0;
    /* min-width: 750px; */
}
.c-inline-block{
    display: inline-block;
}
.c-default-text{
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
}
.c-btn{
    vertical-align: middle;
    width: 100px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 300ms, background-color 300ms;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    text-align: center;
    background-color: #ecb56e;
    color: #fff;
    border: 1px solid #ecb56e;
}
.c-btn:hover { 
    background-color: #ffd591; 
    border: 1px solid #ffd591; 
}
/* 基础 over */

/* 表单 */
.c-label{
    display: inline-block; 
    vertical-align: middle;
    font-size: 14px; 
    color: #333; 
    width: 110px; 
    text-align: right; 
    margin-right: 12px; 
    overflow: hidden;
}
.c-input { 
    vertical-align: middle; 
    width: 200px; 
    height: 32px; 
    border: 1px solid #dbdbdb; 
    border-radius: 4px; 
    box-sizing: border-box; 
    font-size: 14px; 
    color: #666; 
    padding: 0 8px;
    transition: border-color 300ms; 
}
.c-input:focus,.c-input:hover{
    border-color: #e3b437;
}
.c-form{
    padding: 0 15px;
}
.c-form .c-block{
    margin-bottom: 10px;
}
.has-in-icon{
    line-height: 30px;
    padding-right: 35px;
    position: relative;
    background-color: #fff;
}
.has-in-icon input{
    width: 100%;
    background-color: transparent;
}
.has-in-icon i{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-style: normal;
}
.has-in-icon1 i::before{
    content: url('../images/3.png');
    font-size: 22px;
}
.has-in-icon2 i{
    transition: transform 0.3s;
    transform-origin: 50% 60%;
}
.has-in-icon2 i::before{
    content: url('../images/ic4.png');
}
.has-in-icon2 input:focus + i{
    transform: rotate(180deg);
}
.c-dropdown{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.c-dropdown ul{
    position: absolute;
    top: 32px;
    left: 0;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    display: none;
}
.c-dropdown ul li{
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .3s;
}
.c-dropdown ul li:hover{
    background-color: #ffd591;
}
.c-dropdown ul li.on{
    background-color: #eff;
}
/* 表单 over */
/* 导航 */

/* 导航 over */
/* 媒体查询 */
.c-xs-1, .c-sm-1, .c-md-1, .c-lg-1, .c-xs-2, .c-sm-2, .c-md-2, .c-lg-2, .c-xs-3, .c-sm-3, .c-md-3, .c-lg-3, .c-xs-4, .c-sm-4, .c-md-4, .c-lg-4, .c-xs-5, .c-sm-5, .c-md-5, .c-lg-5, .c-xs-6, .c-sm-6, .c-md-6, .c-lg-6, .c-xs-7, .c-sm-7, .c-md-7, .c-lg-7, .c-xs-8, .c-sm-8, .c-md-8, .c-lg-8, .c-xs-9, .c-sm-9, .c-md-9, .c-lg-9, .c-xs-10, .c-sm-10, .c-md-10, .c-lg-10, .c-xs-11, .c-sm-11, .c-md-11, .c-lg-11, .c-xs-12, .c-sm-12, .c-md-12, .c-lg-12{
    display: inline-block;
}
@media (min-width: 768px) {
    .c-main-container {
        width: 750px;
    }
    .c-sm-12 {
        width: 100%;
    }
    .c-sm-11 {
        width: 91.66666667%;
    }
    .c-sm-10 {
        width: 83.33333333%;
    }
    .c-sm-9 {
        width: 75%;
    }
    .c-sm-8 {
        width: 66.66666667%;
    }
    .c-sm-7 {
        width: 58.33333333%;
    }
    .c-sm-6 {
        width: 50%;
    }
    .c-sm-5 {
        width: 41.66666667%;
    }
    .c-sm-4 {
        width: 33.33333333%;
    }
    .c-sm-3 {
        width: 25%;
    }
    .c-sm-2 {
        width: 16.66666667%;
    }
    .c-sm-1 {
        width: 8.33333333%;
    }
}
@media (min-width: 992px) {
    .c-main-container {
        width: 970px;
    }
    .c-md-12 {
        width: 100%;
    }
    .c-md-11 {
        width: 91.66666667%;
    }
    .c-md-10 {
        width: 83.33333333%;
    }
    .c-md-9 {
        width: 75%;
    }
    .c-md-8 {
        width: 66.66666667%;
    }
    .c-md-7 {
        width: 58.33333333%;
    }
    .c-md-6 {
        width: 50%;
    }
    .c-md-5 {
        width: 41.66666667%;
    }
    .c-md-4 {
        width: 33.33333333%;
    }
    .c-md-3 {
        width: 25%;
    }
    .c-md-2 {
        width: 16.66666667%;
    }
    .c-md-1 {
        width: 8.33333333%;
    }
}
@media (min-width: 1200px) {
    .c-main-container {
        width: 1170px;
    }
    .c-lg-12 {
        width: 100%;
    }
    .c-lg-11 {
        width: 91.66666667%;
    }
    .c-lg-10 {
        width: 83.33333333%;
    }
    .c-lg-9 {
        width: 75%;
    }
    .c-lg-8 {
        width: 66.66666667%;
    }
    .c-lg-7 {
        width: 58.33333333%;
    }
    .c-lg-6 {
        width: 50%;
    }
    .c-lg-5 {
        width: 41.66666667%;
    }
    .c-lg-4 {
        width: 33.33333333%;
    }
    .c-lg-3 {
        width: 25%;
    }
    .c-lg-2 {
        width: 16.66666667%;
    }
    .c-lg-1 {
        width: 8.33333333%;
    }
}
@media (max-width: 750px) {
    .c-xs-12 {
        width: 100%;
    }
    .c-xs-11 {
        width: 91.66666667%;
    }
    .c-xs-10 {
        width: 83.33333333%;
    }
    .c-xs-9 {
        width: 75%;
    }
    .c-xs-8 {
        width: 66.66666667%;
    }
    .c-xs-7 {
        width: 58.33333333%;
    }
    .c-xs-6 {
        width: 50%;
    }
    .c-xs-5 {
        width: 41.66666667%;
    } 
    .c-xs-4 {
        width: 33.33333333%;
    }
    .c-xs-3 {
        width: 25%;
    }
    .c-xs-2 {
        width: 16.66666667%;
    }
    .c-xs-1 {
        width: 8.33333333%;
    }
    .c-form-control .c-label{
        text-align: left;
    }
}
/* 媒体查询 over */